.header {
  position: sticky;
  top: 0;
}

.header .paper {
  padding-right: calc(1rem + 5%);
  padding-left: calc(1rem + 5%);
}

.header a {
  color: #191b26;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  text-decoration: none;
}

#logout:hover {
  color: #2c2c2c;
  background-color: rgba(239, 35, 60, 0.2);
}

.header a:hover {
  color: #0069c2;
  background-color: #0085f230;
}
